.container {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
  
  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1rem;
      margin-bottom: 5px;
      color: #333;
    }

    input {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;

      @media (min-width: 768px) {
        padding: 12px;
        font-size: 1.1rem;
      }
    }
  }
}